Documentation/SRS/tex/SRS.aux
Documentation/SRS/tex/SRS.fdb_latexmk
Documentation/SRS/tex/SRS.fls
Documentation/SRS/tex/SRS.log
Documentation/SRS/tex/SRS.out
Documentation/SRS/tex/SRS.synctex.gz
Documentation/SRS/tex/SRS.toc
Documentation/SRS/tex/srs.odt
Documentation/SRS/tex/SRS.dvi
Documentation/SRS/tex/SRS.tex~
