@CHARSET "utf-8";
@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");

body {
	margin-top: 70px;

	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.btn {
	font-family: sans-serif;
}

.dropdown-menu a{
	text-shadow: none;
}

.form-control[readonly].adform-output, .input-group-addon.adform-output {
	cursor: text;
	background-color: inherit;
	background-image: none;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	box-shadow: none;
}

/* navbar */
.navbar {
	background-color: #eeeeee;
	background-image: none;
	filter: none;
	border: 1px solid #dddddd;
	/*text-shadow: 0 -1px 0 rgba(1, 1, 1, 0.3);*/
	text-shadow: none;
}

ul.navbar-nav.nav>li.divider{
	border-bottom: 1px solid #e5e5e5;
}

ul.navbar-nav.navbar-right>li:not(:first-child){
	-webkit-box-shadow: -11px 0 0 -10px #e5e5e5;
	   -moz-box-shadow: -11px 0 0 -10px #e5e5e5;
	        box-shadow: -11px 0 0 -10px #e5e5e5;
}
ul.navbar-nav.navbar-left>li{
	-webkit-box-shadow: -11px 0 0 -10px #e5e5e5;
	   -moz-box-shadow: -11px 0 0 -10px #e5e5e5;
	        box-shadow: -11px 0 0 -10px #e5e5e5;
}

.popover-content{
	padding: 5px;
	white-space: nowrap;
}

/* img thumbnail*/
.img-thumbnail{
	height: 80px;
	max-width: 145px;
}

/* Alert group */
.alert-group>.alert:first-child:not(:last-child){
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
       -moz-border-radius-topleft:5px;
       -moz-border-radius-topright:5px;
       -moz-border-radius-bottomright:0;
       -moz-border-radius-bottomleft:0;
            border-top-left-radius:5px;
            border-top-right-radius:5px;
            border-bottom-right-radius:0;
            border-bottom-left-radius:0;
    margin-bottom:0
}
.alert-group>.alert:not(:first-child):not(:last-child){
    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
    border-top:0;
    margin-bottom:0
}
.alert-group>.alert:last-child:not(:first-child){
    -webkit-border-top-left-radius:0;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
       -moz-border-radius-topleft:0;
       -moz-border-radius-topright:0;
       -moz-border-radius-bottomright:5px;
       -moz-border-radius-bottomleft:5px;
            border-top-left-radius:0;
            border-top-right-radius:0;
            border-bottom-right-radius:5px;
            border-bottom-left-radius:5px;
    border-top:0
}

/* tables with links */
table a, table a:hover, table a:link, table a:visited, table a:active, table a:focus{
	display: block;
	margin: -8px;
	padding: 8px;
	color: inherit;
	text-decoration: inherit;
}